<div class="body d-flex border border-light pt-1">

    <!-- sidebar -->
    <div style="width: 200px; height: 100vh; background-color: #8AAAE5;" class="sidebar p-3 d-flex flex-column ">

        <a class="text-white" routerLink="home">Home</a>

        <a class="text-white" routerLink="/users">Users</a>

    </div>

    <!-- dashboard -->
    <div class="dashboard p-2 w-100">
        <div class="row">
            <div class="col-lg-12">
                <div style="height: 100px; background-image: url('https://imgs.search.brave.com/rRMSNreybF5mY2x9-Zo0-bKr4mpD8ORmpqpH3eS58PE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWd2/My5mb3Rvci5jb20v/aW1hZ2VzL3NoYXJl/L0ZyZWUtYmx1ZS1n/cmFkaWVudC1wYXR0/ZXJuLWJhY2tncm91/bmQtZnJvbS1Gb3Rv/ci5qcGc'); background-size: cover;" class="admin-panel border rounded p-2">
                    <h1 class="text-light text-center mt-3">Employee Portal</h1>
                </div>
                <div class="row p-2">
                    <div class="col-lg-5 border rounded p-2">
                        <app-calender></app-calender>
                    </div>
                    <div class="col-lg-7 border rounded p-4">
                        <app-graph></app-graph>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

</div>